<%- include('../partials/header'); -%>

<%- include('../partials/navbar'); -%>


<div class="container mt-5">
    
    <div >

        <%- body %>

    </div>

</div>

<%- include('../partials/footer'); -%>
