body {
    background-image: url('../img/main-bg.png');
    background-size: cover;  
    background-position: center; 
    background-repeat: no-repeat;
    min-height: 100vh; 
}

.site-logo {
    max-height: 80px;
}