<h1>Edytuj zestaw</h1>

<form method="post" action="/admin/sets/<%= form.slug %>/edit">
 
    <%- include('partials/form', { buttonText: 'Edytuj zestaw', action: '/admin/sets/ + form.slug + /edit' }) %>
  
  