
<% if(name) { %>
<h1><%= name %></h1>
<% } else { %>
<h1>zestaw nie istnieje</h1>
<% } %> 

<p>Przedmiotem sprzedaży nie są owoce ani rośliny przedstawione na zdjęciach - zestaw składa się wyłącznie z kosmetyków wymienionych w opisie.</p>

<p>Produkty są przetestowane dermatologicznie.</p>    
    
<p>W razie podrażnienia lub uczulenia na którykolwiek ze składników, zaprzestań stosowania. </p>   
    
<p>** Zestawy prezentowe pakujemy w podwójne pudełko - pierwsze (wewnętrzne) to pudełko prezentowe, w którym ułożone są kosmetyki jak na zdjęciach, drugie (zewnętrzne) pudełko stanowi opakowanie, na które zostanie naklejona etykieta oraz będzie pełniło funkcję zabezpieczenia prezentu, tak, aby ostateczny odbiorca otrzymał ładnie zapakowany podarunek, wraz z jutową kokardką oraz logo naszego sklepu bez uszkodzeń spowodowanych transportem i etykietą.</p>    

<div class="col">
    <a href="/sets" class="btn btn-primary">Powrót</a>
</div>


