
<div class="d-flex justify-content-center mb-3">
    <% if(user && user.firstName) { %>
        <p class="fw-bold fs-4">Witaj <%- user.firstName %></p>
    <% } %>
</div>

<div class="container">
    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            <img src="/img/top_baner.png" alt="Opis obrazka" class="img-fluid">
        </div>
    </div>
</div>

<div class="container my-5">
    <div class="text-center mb-5">
        <h1 class="display-4">Witamy na naszej stronie</h1>
        <p class="lead">Znajdziesz tutaj zestawy prezentowe dla swojej firmy.</p>
    </div>

    <div class="mb-4">
        <h2 class="h3">Oferowane Produkty:</h2>
        <ul class="list-unstyled">
            <li><i class="bi bi-check-circle-fill text-success me-2"></i> Naturalne Świece Sojowe</li>
            <li><i class="bi bi-check-circle-fill text-success me-2"></i> Mydła Ręcznie Robione</li>
            <li><i class="bi bi-check-circle-fill text-success me-2"></i> Olejki Eteryczne</li>
            <li><i class="bi bi-check-circle-fill text-success me-2"></i> Naturalne Środki Czystości</li>
        </ul>
    </div>

    <div class="mb-4">
        <h2 class="h3">Dlaczego Warto Wybrać Nasze Zestawy Prezentowe?</h2>
        <ul class="list-unstyled">
            <li><i class="bi bi-gift-fill text-warning me-2"></i> Naturalne i Ekologiczne Produkty</li>
            <li><i class="bi bi-gift-fill text-warning me-2"></i> Możliwość Pełnej Personalizacji</li>
            <li><i class="bi bi-gift-fill text-warning me-2"></i> Biodegradowalne i Recyklingowalne Opakowania z Logo Twojej Firmy</li>
        </ul>
    </div>

    <div class="mb-4">
        <h2 class="h3">Jak Zamówić Zestawy Prezentowe?</h2>
        <ol class="list-group list-group-numbered">
            <li class="list-group-item">Skontaktuj się z nami, aby uzyskać więcej szczegółów</li>
            <li class="list-group-item">Dobierz odpowiednie produkty, kolory i zapachy</li>
            <li class="list-group-item">Personalizuj opakowanie z logo Twojej firmy</li>
        </ol>
    </div>

    <div class="mb-5">
        <h2 class="h3">Dlaczego My?</h2>
        <p>Nasze zestawy prezentowe to gwarancja najwyższej jakości i możliwości pełnej personalizacji. Możesz umieścić logo swojej firmy na opakowaniach, dobierać odpowiednie kolory i zapachy, tworząc unikalne i niezapomniane prezenty. Dodatkowo, nasze zestawy są pakowane w biodegradowalne i recyklingowalne opakowania, dbając o środowisko naturalne.</p>
    </div>

    <div class="mb-5">
        <h2 class="h3">Kontakt:</h2>
        <p>Jeśli masz jakiekolwiek pytania lub chcesz zamówić nasze zestawy prezentowe, skontaktuj się z nami. Jesteśmy tutaj, aby pomóc Ci stworzyć idealny prezent dla Twojej firmy.</p>
    </div>
</div>