<form action="/sets" method="GET">
    <div class="my-3 d-flex">
        <input type="text" class="form-control" placeholder="Szukaj..." name="q">
        <button class="btn btn-primary">Szukaj</button>
    </div>
</form>